extends ./layout.jade

block content
    section.main-contents
        h2.text-center.sub-texts One mission. Make you enjoy more your roomies.
        .container
            hr
            .item-section.col-md-4.col-sm-4.col-xs-12
                ul
                    li.inline-text
                        i.fa.fa-star
                        p.icon-text Register to your house.
                    li.inline-text
                        i.fa.fa-star
                        p.icon-text Ask to people to register to their house !
            .item-section.col-md-4.col-sm-4.col-xs-12
                ul
                    li.inline-text
                        i.fa.fa-star
                        p.icon-text Create events between houses.
            .item-section.col-md-4.col-sm-4.col-xs-12
                ul
                    li.inline-text
                        i.fa.fa-star
                        p.icon-text Contact the people of the house to have a first contact!
    section.call-to-action.text-center
        .text-all
            h2.title We help you enjoy this experience
            h3.subtitle We make sure you will love it.
